TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=51ztx6Iw0J2ES5TJyn7mwEQzp-Y68xVf
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=
SESSION_DRIVER=cookie
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=